<% if session[:message] %>
  <p><%=session.delete(:message)%></p>
<% end %>

<ul>
  <% @filenames.each do |filename| %>
    <li>
      <a href="<%=filename%>"><%=filename%></a>
    </li>
  <% end %>
</ul>
